<div class="collaborators jumbo3">
  <div class="span3">
    <h2 class="collab-header"><%= current_playlist.title %> Members</h2>
  <ul class="collab-names">
  <% if @friends %>
  <% @friends.each do |friend| %>
    <li><%= friend.username %></li>
  <% end %>
  <% end %>
  </ul>
  </div>
</div>