<div class="jumbotron jumbo3">
  <div class="span3">
  <div id="img-container">
    <img id="artist-pic" src="https://i1.sndcdn.com/artworks-000010016632-v6brmk-large.jpg">
  </div>

    <ul id="buttons">
      <li id="rewind" >
      <li class="play-pause pause" >
      <li id="fast-forward" >
    </ul>
    <%= erb :progress_bar %>
    <ul class="song-display">

    </ul>
  </div>
</div>