<div class="collaborators jumbotron jumbo3">
  <div class="span3">
    <h2 class="collab-header">My Playlists</h2>
  <ul class="collab-names">

  <% @user.playlists.each do |playlist| %>
    <li><%= playlist.title %></li>
  <% end %>
  </ul>
  </div>
</div>