

<body class='body_logged_in'>

 <h3 class="user_legit_name">Welcome to WeJ, <%= @user.firstname %></h3>

<!-- <div class="jumbotron jumbo2">
  <div class="span3">
    <form action="#" method="post">
      <input type="text" name="search" class="form-control search-form" placeholder="find your favorite song!">
      <input type="submit" value="Search" class="searchbtn btn btn-default pull-right">
      <div class="clearfix"></div>
    </form>
  </div>
</div> -->

<%= erb :page_dividers %>
<script src="js/keys.js"></script>
<script src="/js/apiconnect.js"></script>
</body>