

<body class='body_login'>
  <div class="center-content">
    <div class="jumbotron">
      <div class="span3">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
          <input type="text" name="firstname" class="form-control" placeholder="first name">
          <input type="text" name="lastname" class="form-control" placeholder="last name">
          <input type="text" name="username" class="form-control" placeholder="username">
          <input type="password" name="password" class="form-control" placeholder="password">
         <!-- <input type="password" name="password2" class ="form-control" placeholder="re-enter password"/><br> -->

          <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
          <input type="submit" value="Sign up" class="btn btn-primary pull-right">
          <div class="clearfix"></div>
          <!-- <a href="/redirect_auth_url">Login with G+</a> -->

          <a href="/redirect_auth_url" class="orange-button btn btn-block btn-social btn-md btn-google-plus">

          <i class="fa fa-google-plus"></i>
            Sign in with Google Plus
          </a>

          </form>
      </div>
    </div>

    </div>
  </div>


  <footer class="footer">
    <ul>
      <a><li class="links">About</li></a>
      <a><li class="links">Help</li></a>
      <a><li class="links">Jobs</li></a>
      <a><li class="links">Terms</li></a>
      <a><li class="links">Privacy</li></a>
    </ul>
  </footer>

</body>
